@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
		html {
			height: 100%;
			font-size: clamp(15px, 1vw + 12px, 16px);
		}

	body {
		min-height: 100%;
		background-color: #ffffff;
		color: #0f172a;
		overflow-x: hidden;
	}

	#app {
		min-height: 100%;
	}

	img,
	svg {
		max-width: 100%;
		height: auto;
	}
}
